.padre {
    background-color: bisque;
}

h1 {
    text-align: center;
    text-decoration:underline;
    font-style: oblique;
    letter-spacing: 4px;
    font-variant: small-caps;
}

#descripcion {
    text-align: justify;
    font-size: 25px;
    text-transform: capitalize;
    font-variant: small-caps;
}
