* {
    margin: 0;
    padding: 0;
}

.container {
    height: 500px;
    display: flex;
    flex-direction: row;
}

.pares {
    display: flex;
    flex-direction: row;
}

.elemento {
    width: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}

.ele-1, .ele-7 {
    height: 100%;
}

.ele-2, .pares{
    height: 60%;
}

.ele-3, .ele-6{
    height: 40%;
}

.ele-6 {
    width: 200px;
}
