* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 20% 50% 30%;
    /* gap: 10px;
    padding: 10px;
    background-color: aquamarine; */
    grid-template-areas: 
    'header aside aside .'
    'header main main main'
    'header section footer footer';
}

.element {
    padding: 20px;
    border: 1px solid cornflowerblue;
    background-color: azure;
    text-align: center;
}

.header {
    grid-area: header;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}