* {
    margin: 0;
    padding: 0;
}

.cuadro {
    height: 10vw;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-i{
    display: flex;
    justify-content: center;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}